@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruge+Boogie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruge+Boogie&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruge+Boogie&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

/*hero-section*/

.hero-section{
    max-width: 1920px;
    height: 100vh;
    background-image: url(image/Rectangle\ 19290.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    /* position: relative; */
}

.top-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    padding: 10px;
}

.main-logo img{
    max-width: 130px;
    height: 65px;
}

.centre-nav ul{
    display: flex;
    gap: 2.3rem;
}

.centre-nav ul li a{
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    
}
/* .dropdown{
    display: flex;
    flex-direction: column;
    visibility: hidden;
} */

.centre-nav ul .border{
    border-bottom: 1px solid #df6951;
}

.centre-nav ul li a:hover{
    background-color: #c1bebe;
    border-radius: 3px;
    transition: 0.8s ease-in;
}

.left-btn button{
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    background-color: #df6951;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.left-btn button:hover{
    background-color: #e05438;
}

.hero-content{
    display: flex;
    flex-direction: column;
    width: 844px;
    height: 442px;
    margin-left: 190px;
    margin-top: 50px;
    gap: 8px;
}

.hero-content picture img{
    width: 80px;
    height: 16px;
}

.hero-content h1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.content-bar{
    display: inline-block;
    padding: 1.2rem 1.5rem;
    gap: 3rem;
    background-color: #b4adaa;
    width: 600px;
    border-radius: 4px;
    margin: 2rem 0;
}

.content-bar a{
    padding: 0.5rem 1rem;
    border-right: 1.5px solid #fff;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.option{
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 400;
    background-color: #b4adaa;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-right: 1.5x solid #fff;
}

.option-first{
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 400;
    background-color: #b4adaa;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.content-bar button{
    border: none;
    border-radius: 5px;
    background-color: #df6951;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;

}

.content-bar button:hover{
    background-color: #e05438;
}

.customer-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.customer-info p{
    color: #ffffff;
    font-size: 10px;
}

/*flight-section*/

.flight-content{
    display: flex;
    justify-content: space-evenly;
    max-width: 1920px;
    height: 150px;
    align-items: center;
    margin: 0 auto;
}


/*category-sec*/

.category-sec{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 1300px;
    margin: 0 auto;
}
.category-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.category-title h4{
    font-size: 12px;
    font-weight: 600;
    color: #df6969;
}
.category-title h1{
    color: #181e4b;
    font-size: 2.5rem;
    font-weight: 600;
}
.category-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.category-content{
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 200;
    background-color: #ffffff;
    border-radius: 20px;

}
.category-content.cate-img{
    width: 70px;
    height: 50px;

}
.background-pic{
    z-index: -1;
    margin-right: 200px;
    margin-top: -50px;
    width: 70px;
    height: 70px;
}
.category-content p{
    font-size: 10px;
    color: gray;

}

.category-content:hover{
    box-shadow: 10px 10px 10px 10px #aaaaaa;
}

.orange{
    margin-left: 370px;
}

/*special-sec*/

.special-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1420px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}
.special-cont{
    display: flex;
    gap: 100px;
}
.special-cont-pic img{
    width: 550px;
    height: 600px;
}
.special-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.special-info span{
    font-size: 15px;
    font-weight: 600;
    color: #df6951;
}
.special-info h1{
    color: #181e4b;
    font-size: 2.4rem;
    font-weight: 600;
}
.special-info p{
    font-size: 13px;
}
.special-info button{
    width: 150px;
    height: 40px;
    background-color: #df6951;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 12px;
}
.special-info button:hover{
    background-color: #e05438;
}
/*booking-sec*/

.booking-info{
    max-width: 1600px;
    /* height: 500px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
}
.booking-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.booking-title span{
    font-size: 12px;
    font-weight: 650;
    color: #df6951;
    
}
.booking-title h1{
    color: #181e4b;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Volkhov", serif;
}

.desti-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.desti-img img{
    width: 40px;
    height: 40px;margin-top: 10px;
}
.desti-title span{
    color: #5e6282;
}
.desti-title p{
    color: #5e6282;
    font-size: 10px;
}

.booking-cont-img img{
    width: 700px;
    
}

/*holiday-sec*/
.holiday-sec{
    max-width: 1920px;
    height: 250px;
    margin: 0 auto;
    background-image: url(image/Rectangle\ 19294.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.holiday-info{
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    padding-top: 100px;
}

.holiday-info h1{
    font-family: "Volkhov", serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
}
.holiday-info img{
    width: 200px;
    margin-left: 230px;
}

/*packages-sec*/
.packages-sec{
    max-width: 1150px;
    height: 500px;
    background-image: url(image/Illustration\ \(2\).png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.packages-info{
    display: flex;
    flex-direction:column;
    margin-top: 100px;
}
.packages-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Volkhov", serif;
}
.packages-title span{
    font-size: 14px;
    font-weight: 600;
    color: #df6951;
}
.packages-title h2{
    font-size: 30px;
    font-weight: 600;
    font-family: "Volkhov", serif;
}
.packages-title p{
    font-size: 10px;
}
.packages-title button{
    width: 120px;
    height: 40px;
    background-color: #df6951;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.packages-title button:hover{
    background-color: #e05438;
}
.price-sec{
    display: flex;
    gap: 20px;
}
.price-cont{
    position: relative;
    width: 210px;
    height: 210px;
}
.price-cont button{
    position: absolute;
    width: 60px;
    height: 30px;
    top: 15px;
    left: 100px;
    border-radius: 30px;
}
.price-cont img{
    width: 170px;
    height: 180px;
}
.price-cont:hover{
    transform: translateY(-10px);
}

/*promo-sec*/
.promo-sec{
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 150px;
}
.promo-cont{
    display: flex;
    
}
.promo-item1{
    width: 100%;
    height: 250px;
    background-image:     linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%),
    url(image/Rectangle\ 19301.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promo-item2{
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url(image/Rectangle\ 19302.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.promo-cont span{
    color: #ffefec;
    font-size: 15px;
    font-weight: 600;
    
}
.promo-cont h1{
    font-size: 33px;
    font-family: "Volkhov", serif;
    font-weight: 600;
    color: #ffffff;
}
.promo-cont img{
    width: 100px;
    margin-left: 150px;
}
.promo-cont button{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    backdrop-filter: blur(10px);
    height: 40px;
    width: 120px;
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
.promo-cont button:hover{
    background-color: #e05438;
}

/*trend-sec*/

.trend-sec{
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}
.trend-cont{
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}
.trend-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.trend-head span{
    font-size: 12px;
    font-weight: 600;
    color: #df6951;
}
.trend-head h1{
    color: #181e4b;
    text-align: center;
    font-size: 30px;
    font-family: "Volkhov", serif;
    font-weight: 600;
}
.trend-card-cont{
    display: flex;
    width: 950px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 600px;
}
.trend-card{
    width: 280px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    position: relative;
    border-radius: 20px;
}
.trend-card:hover{
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    transform: translateY(-5px);
}
.big{
    width: 260px;
    height: 220px;
    position: relative;
    top: 10px;
}
.con-logo{
    position: absolute;
    z-index: 1;
    right: 190px;
    width: 85px;
    height: 85px;
    bottom: 212px;
}
.date-time{
    display: flex;
    position: relative;
}
.calender{
    display: flex;
    align-items: center;
    position: absolute;
    right: 210px;
    gap: 5px;
    
}
.calender i{
    color: #5e6282;
    font-size: 12px;
    
}
.calender span{
    color: #5e6282;
    font-size: 12px;
}
.people{
    display: flex;
    align-items: center;
    gap: 5px;
}
.people span{
    color: #5e6282;
    font-size: 12px;
}
.country{
    /* margin-right: 36px; */
    display: flex;
    gap: 40px;
    /* text-align: left; */
    
}
.country span{
    font-size: 18px;
    font-weight: 700;
    margin-left: -15px;
}
.country img{
    width: 70px;
    height: 20px;
}
.brazil{
    margin-left: -80px;
}
.egypt{
    margin-left: -80px;
}
.location{
    display: flex;
    align-items: center;
    position: relative;
    right: 103px;
    font-size: 10px;
    top: -10px;
    gap: 5px;
    color: #5e6282;
}
.dollar{
    position: relative;
    top: -15px;
    display: flex;
    right: 73px;
    gap: 10px;
}
.dollar h4{
    color: #df6951;
    font-weight: 500;
}
.dollar h4 span{
    color: #df6951;
    font-weight: 500;
    font-size: 16px;
}
.dollar span{
    text-decoration-line: line-through;
    color: #5e6282;
    font-size: 14px;
    margin-top: 2px;
}
.trend-card p{
    color: #5e6282;
    font-family: 400;
    position: relative;
    font-size: 8px;
    margin-left: 15px;
    bottom: 20px;
}
.trend-card button{
    position: relative;
    right: 80px;
    bottom: 20px;
    color: #ffffff;
    font-size: 8px;
    background-color: #df6951;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.trend-card button:hover{
    background-color: #e05438;
}

/*client-review-sec*/

.review-sec{
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
    background-image: url(image/h1-background-img-1\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.review-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 150px auto;
}
.review-head span{
    color: #df6951;
    font-size: 12px;
    font-weight: 700;
}
.review-head h1{
    font-size: 30px;
    font-family: "Volkhov", serif;
    font-weight: 600;
    text-align: center;
}
.client-comment{
    margin: 0 auto;
}
.client-comment img{
    z-index: 1;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 300px;
}
/*footer*/
.footer-sec{
    max-width: 1920;
    height: 230px;
    background-image: url(image/Footer\ img.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 700px;
    margin: 50px auto;
    gap: 50px;
    border-bottom: 1px solid #5e6282;
    
}
.foot1{
    display: flex;
    flex-direction: column;
    gap: 5px;

    & img{
        width: 130px;
        height: 65px;
    }
    & p{
        color: #757095;
        font-family:  "Manrope", sans-serif;
        font-size: 10px;
    }
}
.social-icon{
    display: flex;
    color: #df6951;
    cursor: pointer;
    gap: 8px;
}
.foot2{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span{
        color: #181433;
        font-family:  "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
    & a{
        color: #181433;
        font-family:  "Manrope", sans-serif;
        font-size: 10px;
        font-weight: 700;
    }
}
.foot3{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span{
        color: #181433;
        font-family:  "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
    & a{
        color: #181433;
        font-family:  "Manrope", sans-serif;
        font-size: 10px;
        font-weight: 700;
    }
}
.foot4{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span{
        color: #181433;
        font-family:  "Manrope", sans-serif;
        font-size: 14px;
        font-weight: 750;
    }

}
.foot-btn{
    position: relative;
    & input{
        background-color: #eeeeff;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 7px;
        color: #5e6282;
        font-size: 10px;
        width: 150px;
    }
    & button{
        padding: 7px;
        /* margin-right: -10px; */
        position: absolute;
        border: none;
        width: 100px;
        border-radius: 5px;
        right: px;
        background-color: #df6951;
        color: #ffffff;
        font-size: 10px;
    }

    
}
.foot4 p{
        color: #5e6282;
        font-size: 10px;
}
.copy{
    align-items: center;
    text-align: center;
    margin-top: -40px;
    & span{
        color: #181433;
        font-size: 10px;
    }
}

